/*Penser a bien "encapsulé" les styles dans une class sg, pour ne pas interferer avec les autres styles*/

/*pour le dev*/
html {
    min-height: 200vh;
}

body {
    background: #F5F5F5;
}

.sg {
    background: #4f65dc;
}

img {
    width: 100%;
    border: 2px dotted #e29;
}

.blur {
    /*overflow: auto ;*/
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* The Modal (background) */
.sg-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    /**/
}

/* Modal Content/Box */
.sg-modal-content {
    z-index: 3;
    background-color: transparent;
    margin: 2em auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    /*width: 80%; *//* Could be more or less, depending on screen size */
    width: auto;
    max-height: 100vh;
    text-align: center;
}

.sg-modal-content img{
    width: auto;
    border-radius: 0.4em;
    border: none;
}