/*pour le dev*/
html {
    min-height: 100vh;
    position: absolute;
    z-index: 1;
}

body {
    background: #F5F5F5;
}

.sg {
    background: #4f65dc;
}

img {
    width: 100%;
}

#modal1 {
    background-color: rgba(0, 0, 255, 0.5);/*Initule?*/
    z-index: 99;    
}

#modal1 img {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    filter: grayscale(0);
}

.flou {
    filter: grayscale(1);
    z-index: 1;
}