body {
    background: #F5F5F5;
}

.sg {
    background: #4f65dc;
}

img {
    width: 100%;
}

#modal1 {
    background-color: rgba(0, 0, 255, 0.5);
}

#modal1 img {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}